.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  /* fr in grid-template-columns stands for 'fraction' */
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  /* align-items in case of grid won't work if it doesn't have a height. */
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.card {
  color: #333;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn-outline {
  background-color: transparent;
  border: 1px white solid;
}

.btn:hover {
  transform: scale(1.1);
  transition: ease-in-out 250ms;
}

.text-center {
  text-align: center;
}

/* Margins */

.my-1 {
  margin: 1rem 0;
}

.my-4 {
  margin: 4rem 0;
}
